.masonryGrid {
  display: flex;
  width: auto;
}
.imageWrapper {
  padding: 8px;
}

.imageContainer {
  border-radius: 8px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
