.masonryGrid {
  display: flex;
  width: auto;
}
.imageWrapper {
  padding: 8px;
}

.imageContainer {
  border-radius: 8px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* //---------------- */

.gridcontainer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  padding: 10px;
}

.gridItem {
  position: relative;
  overflow: hidden;
}

.gridItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridItem1 {
  grid-column: span 2;
  grid-row: span 2;
}

.gridItem2,
.gridItem5 {
  grid-column: span 1;
  grid-row: span 1;
}

.gridItem3 {
  grid-column: span 2;
  grid-row: span 1;
}

.gridItem4 {
  grid-column: span 1;
  grid-row: span 2;
}

.gridItem6 {
  grid-column: span 2;
  grid-row: span 2;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(145, 145, 220, 0.2);
  z-index: 999;
}

.modalcontent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  max-height: 90vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modalcontent img {
  border-radius: 8px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.prevbutton,
.nextbutton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
}

.prevbutton {
  left: 10px;
}

.nextbutton {
  right: 10px;
}

.closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
}

/*----------------------------------------*/

.gridy {
  flex-basis: 50%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

.box {
  border-radius: 8px;
  background-color: #222;
  background-blend-mode: exclusion;
  color: transparent;
  background-size: cover;
  background-position: top;
  transition: all 2s ease-in-out;
  &:hover {
    background-position: center;
    background-color: #999;
    background-blend-mode: initial;
    cursor: pointer;
  }
}

.doubleRaw {
  background-position: left;
  grid-row: span 2;
}

.doubleCol {
  grid-column: span 2;
}
