.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar {
  background-color: var(--gray);
  /* position: fixed; */
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--main);
  border: 1px dashed var(--main);
  border-radius: 8px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.link:hover {
  color: var(--pink);
}

.anchor {
  display: flex;

  gap: 8px;
}
