html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  margin-bottom: 25px;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
