.layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav {
  border-radius: 50px;
  border: 1px solid var(--main);
  padding: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  top: 5%;
  right: 14%;
  z-index: 2;

  background-color: var(--main-bg-color);
  box-shadow: 0 0 15px -1px var(--darkgreen);
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out,
    background-color 250ms ease-in-out, opacity 250ms ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px -2px var(--darkgreen);
  }

  @media screen and (min-width: 768px) {
    top: 5%;
    right: 5%;
    flex-direction: column;
    width: 70px;
  }

  @media screen and (min-width: 1024px) {
  }
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  padding: 4px;
  border-radius: 8px;
  &:hover {
    box-shadow: 0 0 15px -1px var(--darkgreen);
    transform: scale(1.1);
  }
}

.icon {
  width: 20px;
  height: 20px;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}
